* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
.restangle {
  background-color: #e5e5e5 !important;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav div {
  margin: 17px 10px 16px 10px;
}

header nav div a {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
}

.container-line {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin: 0 auto;
  width: 90%;
  min-width: 1280px;
  border: 2px red solid;
}

.container-logo {
  display: flex;
}

.beauty {
  margin: 40px 0px 0px 60px;
  font-size: 30px;
  color: #f13c6e;
}

.container-search input {
  border: 2px #efefef solid;
  background: #efefef;
  width: 250px;
  height: 40px;
  margin: 40px 0px 0px 170px;
  border-radius: 20px;
}

.container-tel {
  width: 157px;
  height: 60px;
  top: 40px;
  font-size: 16px;
  line-height: 70px;
  margin: 40px 0px 0px 30px;
}

.bottom {
  border: 2px solid #f13c6e;
  box-sizing: border-box;
  border-radius: 40px;
  width: 170px;
  height: 40px;
  margin-top: 50px;
}

.container-small {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  height: 100%;
}
