* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
.restangle {
  background-color: #e5e5e5 !important;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav div {
  margin: 17px 10px 16px 10px;
}

header nav div a {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
}

.container-line {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  min-width: 1280px;
  border: 2px red solid;
}

.container-search input {
  border: 2px darkblue solid;
  border-radius: 4px;
  margin-top: 40px;
}

.beauty {
  margin-top: 40px;
  font-size: 30px;
  color: #f13c6e;
}

.container-logo {
  display: flex;
}
